<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: cursive;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>URL SHORTNER</h1>
    <!-- backend se jo data aata he vo locals me store hota he  -->
    <% if (locals.id) { %>
    <p>URL Generated: http://localhost:8001/url/<%= id %></p>
    <% } %>
    <div>
      <form method="POST" action="/url">
        <label for="">Enter your original URL</label>
        <input type="text" name="url" placeholder="https://example.com" />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if (locals.url) { %>
      <table>
        <thead>
          <th>S. No</th>
          <th>ShortID</th>
          <th>Redirect</th>
          <th>CLicks</th>
        </thead>
        <tbody>
            <% urls.forEach((url, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= url.shortId %></td> <!-- Corrected property name -->
              <td><%= url.redirectURL %></td>
              <td><%= url.visitHistory.length %></td>
            </tr>
            <% }) %>
          </tbody>
          
      </table>
      <% } %>
    </div>
  </body>
</html>
